:root {
  --main-bg-color: #282c34;
  --pt-hover: #00a6fb;
  --pt: #45a891;
  --ct: #cc3363;
  --freq: #fdca40;
  /* also turquoise */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--main-bg-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: monospace;
}

.CipherTextPlainText, .Letter-Mapping {
  margin: 10vh;
}

.letterTable {
  table-layout: fixed;
  /* width: 80%; */
  margin: 0 auto;
}

.letterTable td {
  width: 1ch;
}

.letterTable tr {
  height: 1.5em;
}

.mapLetterTable {
  table-layout: fixed;
  width: 78%;
  margin: 0 auto;
}

.mapLetter {
  color: var(--ct);
  border-collapse: collapse;
}

.freqLetter {
  color: var(--freq);
}

.mapInputContainer {
  width: -moz-fit-content;
  width: fit-content;
  width: 100%;
  white-space: nowrap;
}

.mapInput {
  display: inline-block;
  width: 3%;
  background: transparent;
  -webkit-transition: background-color 150ms linear;
  -ms-transition: background-color 150ms linear;
  transition: background-color 150ms linear;
}

.mapInput:hover {
  background: var(--pt-hover);
}

.mapInput input {
  font-family: monospace;
  background-color: transparent;
  color: var(--pt);
  font-size: calc(10px + 2vmin);
  text-align: center;
  border: 0;
  width: 100%;
  padding: 5px;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; 
  
  /* box-shadow: 0px 4px 20px 0px transparent; */
}

.ctInput {
  display: inline-block;
  width: 80%;
  background: transparent;
  -webkit-transition: background-color 150ms linear;
  -ms-transition: background-color 150ms linear;
  transition: background-color 150ms linear;
}

.ctInput:hover {
  /* background: var(--pt-hover); */
}

.ctInput textarea {
  font-family: monospace;
  background-color: transparent;
  color: var(--ct);
  font-size: calc(10px + 2vmin);
  text-align: left;
  border: 0;
  width: 100%;
  padding: 5px;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; 
  
  /* box-shadow: 0px 4px 20px 0px transparent; */
}

.ctLetter {
  color: var(--ct);
}

.ptLetter {
  color: var(--pt);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
